.about {
	.video-button-placeholder {
		height: 100%;
		position: absolute;
		right: 0;
	}
	.button {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		cursor: pointer;
		margin: auto;
		width: 65px;
		height: 65px;
		&-video-play {
			width: 85px;
			height: 85px;
			position: relative;
	    left: 50%;
			top: 50%;
			margin-top: -42px;
			margin-left: -42px;
			cursor: pointer;
			display: inline-block;
			background-image: url('../img/play_button.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&-gallery {
			background-image: url('../img/gallery_button.png');
		}
	}
	img {
		max-width: 100%;
	}
	.about-person {
		padding: 0;
		overflow: hidden;
	}
	.people {
		padding-bottom: 0px;

		.about-white-box {
			padding: 0;
			overflow: hidden;
		}
		.about-black-box {
			background: #000;
			margin-bottom: -60px;
		}
	}
	&-counter {
		@include desktop {
			padding: $padding-large 0;
		}
		@include tablet {
			padding: $padding-large 0;
		}
		@include medium-tablet {
			padding: 0;
		}
		.icon {
			font-size: 40px;
			width: 100px;
			color: $main-theme-color;
		}
		&-single {
			border-right: 1px solid rgba($main-gray, 0.5);

			div > h3 {
				height: 55px;
			}

			@include medium-tablet {
				border-right: none;
				border-bottom: 1px solid rgba($main-gray, 0.5);
				margin-bottom: $margin-base;

				&:last-child {
					border-bottom: 0;
				}
			}
			@include smartphone {
				border-right: none;
				border-bottom: 1px solid rgba($main-gray, 0.5);
				margin-bottom: $margin-base;

				&:last-child {
					border-bottom: 0;
				}
			}

		}
		&-single:last-child {
				border-right: 0;
		}

		.counter {
			@include medium-tablet {
				padding: $padding-medium 0;
			}
			@include smartphone {
				padding: $padding-medium 0;
			}
		}
	}
	&-background {
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		float: left;
		z-index: 999;
		position: relative;

		&-1 {
			background-image: url('../img/property-solutions.jpg');
			background-position: center bottom;
	    background-size: cover;
		}
		&-2 {
			background-color: #fff;
		}
		&-3 {
			background-image: url('../img/industries.jpg');
			background-position: center;
	    background-size: cover;
		}
		&-4 {
			background-image: url('../img/sigma-people.jpg');
			background-position: center 64%;
	    background-size: cover;
		}
	}
	&-black-box {
		min-height: 30vh;
		background: rgba(0, 0, 0, 0.8);
		color: white !important;
		padding: 60px;
		padding-top: 105px;
		padding-bottom: 135px;
		text-align: center;

		p {
			color: white !important;
		}
	}
	&-white-box {
		min-height: 30vh;
		background: rgba(255, 255, 255, 0.9);
		color: black !important;
		padding: 20px;
		padding-bottom: 90px;
		text-align: center;

		p {
			color: black !important;
		}
	}
	p {
		max-width: 500px;
		margin: $margin-medium auto;
		opacity: 0.9;
		padding: 0 30px;
	}
}
