.footer {
	@extend %section-padding;
	height: auto;
	min-height: auto;
	float: left;
	width: 100%;
	padding: 15px 0;
	background-color: #252525;

	&-logo {
		margin: 0 0 20px 0;
		width: 150px;
		height: auto;
	}
	&-newsletter {
		margin-top: $margin-large;
	}
}
